<!doctype html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Generate code for spring boot application</title>

    <link rel="stylesheet" href="css/pure.min.css">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="css/font-awesome.css">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/codegen-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="css/codegen.css">
    <!--<![endif]-->
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="#">Code Generator For Spring Boot Application</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="http://doc4dracular.herokuapp.com/"
                                                             class="pure-menu-link" target="_blank">Dracula</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Code Gen From <strong>PostgresSQL</strong></h1>
        <p class="splash-subhead">
            One Click, NO Coding, Scroll Down!
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <!--<h2 class="content-head is-center button-warning">Currently only support for <strong>PostgresSQL</strong></h2>-->
    </div>

    <div class="content">
        <h2 class="content-head is-center">Make sure the server could access the database</h2>

        <div class="is-center">
            <div class="l-box is-center">
                <form class="pure-form pure-form-stacked submit-form" method="post" action="gen" target="submitIframe">
                    <fieldset>
                        <label for="dbIp">DB IP</label>
                        <input id="dbIp" name="DB_IP" type="text" value="localhost">
                        <label for="dbPort">DB PORT</label>
                        <input id="dbPort" name="DB_PORT" type="text" value="5432">
                        <label for="dbName">DB NAME</label>
                        <input id="dbName" name="DB_NAME" type="text" value="springbootdemo">
                        <label for="dbUserName">DB USERNAME</label>
                        <input id="dbUserName" name="DB_USERNAME" type="text" value="postgres">
                        <label for="dbPassword">DB PASSWORD</label>
                        <input id="dbPassword" name="DB_PASSWORD" type="text" value="root">
                        <label for="groupId">GROUP ID</label>
                        <input id="groupId" name="GROUP_ID" type="text" value="com.a.c">
                        <label for="artifactId">ARTIFACT ID</label>
                        <input id="artifactId" name="ARTIFACT_ID" type="text" value="demo">
                        <label for="projectName">PROJECT NAME</label>
                        <input id="projectName" name="PROJECT_NAME" type="text" value="demo">
                        <label for="projectVersion">PROJECT VERSION</label>
                        <input id="projectVersion" name="PROJECT_VERSION" type="text" value="1.0.0">
                        <label for="projectDescription">PROJECT DESCRIPTION</label>
                        <input id="projectDescription" name="PROJECT_DESCRIPTION" type="text" value="demo project">
                        <label for="language">LANGUAGE</label>
                        <select id="language" name="LANGUAGE">
                            <option value="Java">Java</option>
                            <option value="Kotlin">Kotlin</option>
                            <option value="Go">Go</option>
                            <option value="Python">Python</option>
                        </select>
                        <button type="submit" class="pure-button">Generate</button>
                    </fieldset>
                </form>
            </div>
            <iframe src="" frameborder="0" width="0" height="0" name="submitIframe" id="submitIframe">
            </iframe>
        </div>

    </div>

    <div class="footer l-box is-center">
        Happy coding with <a href="https://kotlinlang.org" target="_blank">Kotlin</a>
    </div>

</div>
</body>
</html>
